<div class="pf-v6-c-menu pf-m-scrollable" id="dropdown-menu-workspace" :style="menuStyle">
    <div class="pf-v6-c-menu__search">
        <div class="pf-v6-c-menu__search-input">
            <div class="pf-v6-c-text-input-group">
                <div class="pf-v6-c-text-input-group__main pf-m-icon">
                          <span class="pf-v6-c-text-input-group__text">
                            <span class="pf-v6-c-text-input-group__icon">
                              <i class="fas fa-fw fa-search"></i>
                            </span>
                            <input
                                    class="pf-v6-c-text-input-group__text-input"
                                    type="text"
                                    placeholder="Search"
                                    value
                                    aria-label="Search input"
                            />
                          </span>
                </div>
            </div>
        </div>
    </div>
    <hr class="pf-v6-c-divider" />
    <div class="pf-v6-c-menu__content">
        <ul class="pf-v6-c-menu__list" role="menu">
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">A very, very long name to test what happens</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 2 - aaa</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 3 - longer!</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 4 - making longer and longer and longer</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 5 - longer</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 6 - Change again</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 7</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 8</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 9</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 10</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 11</span>
                </button>
            </li>
            <li class="pf-v6-c-menu__list-item" role="none">
                <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                    <span class="pf-v6-c-menu__item-text">Action 12</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="pf-v6-c-menu__footer">
        <button
                class="pf-v6-c-button pf-m-control pf-m-inline"
                type="button"
                @click="newWorkspaceModalShow = true">
            <span class="pf-v6-c-button__text">New Workspace</span>
        </button>
        <button class="pf-v6-c-button pf-m-control pf-m-inline" type="button">
            <span class="pf-v6-c-button__text">Edit</span>
        </button>
    </div>
</div>
