<!DOCTYPE html>
<html lang="en" x-data="theme" :class="{'pf-v6-theme-dark': theme === 'dark'}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🛝 Hery - Playground 🛝</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
        {{ template "style.html" . }}
    </head>
    <body x-data="page" x-resize.document="documentWidth = $width; documentHeight = $height">

        <div x-data="tabSystem()" class="pf-v6-l-stack">
            <!-- ################################### -->
            <!-- ############## Header ############# -->
            <!-- ################################### -->
            {{ template "header.html" . }}

            <!-- ################################### -->
            <!-- ############# Middle ############## -->
            <!-- ################################### -->
            {{ template "main.html" . }}

            <div class="pf-v6-l-stack__item" style="height:10em;border-top:1px solid grey;" id="component-eql">
                <div class="pf-v6-l-split">
                    <div class="pf-v6-l-split__item pf-m-fill">
                        <div class="pf-v6-l-stack">
                            <div class="pf-v6-l-stack__item" style="height: 5em;">
                                <div id="eql-editor" style="width:100%;height:100%;"></div>
                            </div>
                            <!--<div class="pf-v6-l-stack__item pf-m-fill">pf-m-fill</div>-->
                            <div class="pf-v6-l-stack__item" style="height: 5em; border-top:1px solid grey;">
                                Result...
                            </div>
                        </div>
                    </div>
                    <div class="pf-v6-l-split__item" style="border-left:1px solid grey; border-right:1px solid grey;">
                        <!-- fa-pause or fa-times -->
                        <!-- fa-play -->
                        <!-- fa-copy -->
                        <button
                                class="pf-v6-c-button pf-m-small pf-m-plain"
                                type="button"
                                aria-label="Run"
                                title="Run EQL"
                        >
                          <span class="pf-v6-c-button__icon">
                            <i class="fas fa-play" aria-hidden="true"></i>
                          </span>
                        </button>
                        <hr class="pf-v6-c-divider" />
                        <button
                                class="pf-v6-c-button pf-m-small pf-m-plain"
                                type="button"
                                aria-label="Copy"
                                title="Copy history"
                        >
                          <span class="pf-v6-c-button__icon">
                            <i class="fas fa-copy" aria-hidden="true"></i>
                          </span>
                        </button>
                    </div>
                    <div
                            class="pf-v6-c-menu pf-m-scrollable"
                            style="--pf-v6-c-menu__content--Height: 10em;--pf-v6-c-menu--Width: 30em;"
                    >
                        <div class="pf-v6-c-menu__content">
                            <ul class="pf-v6-c-menu__list" role="menu">
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">A very, very long name to test what happens</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 2 - longer history details... Some more information to make sure it can handle it</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 3 - aaa</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 4 - making it longer</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 5</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 6</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 7</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 8</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 9</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 10</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 11</span>
                                    </button>
                                </li>
                                <li class="pf-v6-c-menu__list-item" role="none">
                                    <button class="pf-v6-c-menu__item" type="button" role="menuitem">
                                        <span class="pf-v6-c-menu__item-text">Action 12</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="pf-v6-l-split__item">
                        <ul class="pf-v6-c-list pf-m-plain pf-m-bordered" role="list" style="display: block; overflow: auto; max-height: 10em;">
                            <li>Donec blandit a lorem id convallis.</li>
                            <li>Integer in volutpat libero.</li>
                            <li>Donec a diam tellus.</li>
                            <li>Aenean nec tortor orci.</li>
                            <li>Vivamus maximus ultricies pulvinar.</li>
                        </ul>
                    </div>-->
                </div>
            </div>

            <!-- ################################### -->
            <!-- ############## Footer ############## -->
            <!-- ################################### -->
            <footer class="pf-v6-l-stack__item" style="border-top:1px solid grey;">&copy; Amadla 🐰</footer>
        </div>

        <!-- Dropzone for the SQLite database -->
        <!--<div id="dropzone" style="width: 400px; height: 400px; border: 2px dashed #ccc;">
            Drag and drop your SQLite .db file here.
        </div>-->


        <!--
               style="position: absolute; inset: 0px auto auto 0px; transform: translate(200px, 50px); z-index: 9999; opacity: 1; transition: opacity cubic-bezier(0.54, 1.5, 0.38, 1.11);"
               -->

        {{ template "modal.html" . }}
        {{ template "dropdown.html" . }}

        <!----------------------------->
        <!---------- Scripts ---------->
        <!----------------------------->
        {{ template "script.html" . }}
    </body>
</html>
