<!-- SQLite in browser -->
<script src="assets/library/node_modules/sql.js/dist/sql-wasm.js"></script>

<!-- WebAssembly - Golang -->
<script src="assets/wasm_exec.js"></script>

<!-- Code Editor Monaco -->
<script src="assets/library/node_modules/monaco-editor/min/vs/loader.js"></script>

<!-- Custom Scripts -->
<script src="assets/hery.editor.js"></script>
<!--<script src="assets/eql.editor.js"></script>-->
<!--<script src="assets/cache.editor.js"></script>-->
<script src="assets/ux.js"></script>
<script src="assets/editor.js"></script>

<!-- Alpine.js plugins -->
<script src="assets/library/node_modules/@alpinejs/anchor/dist/cdn.min.js"></script>
<script src="assets/library/node_modules/@alpinejs/collapse/dist/cdn.min.js"></script>
<script src="assets/library/node_modules/@alpinejs/focus/dist/cdn.min.js"></script>
<script src="assets/library/node_modules/@alpinejs/morph/dist/cdn.min.js"></script>
<script src="assets/library/node_modules/@alpinejs/persist/dist/cdn.min.js"></script>
<script src="assets/library/node_modules/@alpinejs/resize/dist/cdn.js"></script>

<!-- Alpine.js framework needs to load -AFTER- the plugins -->
<script src="assets/library/node_modules/alpinejs/dist/cdn.min.js"></script>
