/*#root {
    height: 100vh;
}

#container {
    height: 400px;
    width: 600px;
}

#monaco-container {
    width: 50%;
    height: 400px;
    border: 1px solid #ccc;
    margin-left: 20px; /* Space between Monaco editor and dropzone
    display: inline-block;
}*/

.tab-content {
    display: none;
}
